<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Enviar parámetros del request por HTML</title>
	</head>
	<body>
		<h1>Enviar parámetros del request por HTML</h1>
		<li> <a th:href="@{/params/string(texto = 'Hola qué hay')}">Lo que hace es /params/string?texto=Hola qué hay</a></li>
		<li> <a th:href="@{/params/string(texto = 'pues todo bien')}">Lo que hace es /params/string?texto=pues todo bien</a></li>
		<li> <a th:href="@{/params/mix-params(saludo = 'hola', numero = 7)}">mix-params</a></li>
		<li> <a th:href="@{/params/mix-params-request(saludo = 'hola', numero = 7)}">mix-params-request</a></li>
	</body>
</html>
